{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Order Page Title{% endblock %}</h1>
<a class="action" href="">Job Order Screen</a>
{% endblock %} {% block content %} HOME SCREEN
<h1>Saved Jobs:</h1>
<h3>Click to review and send</h3>
<ul>
  {% for savedJob in jobData %}
  <li>{{savedJob["id"]}}</li>
  <li>{{savedJob["job_name"]}}</li>
  <li><a href="{{url_for('order.review_and_submit', key=savedJob["id"])}}">{{savedJob["job_number"]}}</a></li>
  <li><br></li>
  {%endfor%}
</ul>

{% endblock %}
