{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Home Screen{% endblock %}</h1>

{% endblock %} {% block content %}
<br />

mail user:{{MAIL_USERNAME}}<br />
Mail pass:{{MAIL_PASSWORD}} <br />
admim pwd hash= {{SECOND_MAIL_USERNAME}}
<br />
<a href="{{url_for('order.input_new_job')}}">Input Job Detail</a>

<br />
<a href="{{url_for('order.get_saved_jobs')}}">Get Saved Job details</a>
<br />
<a href="{{url_for('order.review_and_submit')}}"
  >Review and submit Job details</a
>
<br /><br />
<a href="{{url_for('shiftsummary.shiftsummary_index')}}">Shift Summary</a>
<br />
{% endblock %}
