{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Review Screen {% endblock %}</h1>

{% endblock %} {% block content %}

<br />
<h3>Email and Save, or just Save your updated Job</h3>

<form action="review_and_submit" method="POST">
  {% for heading in headings %}{% if db_headings[heading] != 'id'%}
  <label for="{{heading}}">{{heading}}</label>
  <input
    type="text"
    name="{{db_headings[heading]}}"
    value="{{jobData[db_headings[heading]]}}"
  />
  <br />
  {%endif%}{%endfor%} <input type="hidden" name="id" value="{{jobData["id"]}}">
  <br />
  <label for="emailaddr">Email address</label>
  <input type="email" name="emailaddr" value="{{default_email_address}}" />
  <br />
  <input type="submit" value="Save and Send" />
  <input type="submit" formaction="save_record" value="Save" />
</form>
{% endblock %}
