{% extends 'base.html' %} {% block header %}
<h1>{% block title %}REVIEW SHIFT SUMMARY{% endblock %}</h1>
<a class="action" href=""
  >Shift Summaries: </a> {% endblock %} {% block content %}
  <br />
  <br />
  <table style="width:100%">
    <tr >
    <td style="width:20%">Date:</td><td>{{item["date"].strftime('%d/%m/%Y')}}</td>
  </tr>
  <tr>
    <td>Job Name:</td><td>{{item["location"]}}{{item["id"]}}</td>
  </tr>
  <tr>
    <td>Shift:</td><td>{{item["shift"]}}</td>
  </tr>
  <tr>
    <td>Forecast:</td><td>{{item["forecast"]}}</td>
  </tr>
  <tr>
    <td>Location</td><td>{{item["scope"]}}</td>
  </tr>
  {%for log in shiftsummarylogs%}
  <tr>
    <td>{{log["date"].strftime('%d/%m/%Y - %H:%M')}}</td>
    <td>{{log["data"]}}</td>
    <td><a href="{{url_for('shiftsummary.editlog', key=log['id'])}}">Edit</a></td>
  </tr>
  {%endfor%}
  <tr>
    <td></td>
    <td></td>
    <td><a href="{{url_for('shiftsummary.addlog', key=item['id'])}}">Add</a></td>
  </tr>
  </table>
  


  <br>
  <br>
  <form action="email_summary" method="POST">
  <label for="emailaddr">Email address</label>
  <input type="email" name="emailaddr" value="{{default_email_address}}" />
  <input type="hidden" name="key" value="{{item["id"]}}"/>
  <br />
  <input type="submit" value="Send by Email" />
</form>

  <br>
  <br>
  <br>
  <a href="{{url_for('shiftsummary.shiftsummary_index')}}">Home</a>

  >
  <br />
  {% endblock %}
</a>
